.header {
  padding: 20px 0;
  background-color: white;

  .container,
  &__nav,
  &__shop-elements {
    display: flex;
  }

  .container {
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    gap: 20px;

    li {
      a {
        font-weight: 600;
        color: black;

        &.acitve {
          color: red;
        }

        @media (hover: hover) {
          &:hover {
            opacity: 0.65;
          }
        }
      }
    }
  }

  &__shop-elements {
    display: flex;
    gap: 10px;
  }
}