.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  li {
    flex: 0 1 30%;
    text-align: center;
    font-size: 15px;
    a {
      * {
        padding: 5px 0;
      }
      color: #1f232a;
      h3 {
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        font-size: 15px !important;
      }

      .aut-name {
        color: #7688a2;
        font-weight: 600;
        font-size: 13px;
      }

      .price {
        font-weight: 600;
      }
    }
  }
}
