.shop {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  h1 {
    flex: 1 1 100%;
  }

  &__filter {
    flex: 0 1 23%;
  }

  &__products {
    flex: 0 1 75%;
  }

  .pagination {
    margin-top: 20px;
  }
}

.toggle-arrow {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 15px;
    height: auto;
  }
}

.child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
