@import "../../variables";

.profile {
  display: flex;
  flex-wrap: wrap;

  &__sidebar,
  &__content {
    padding: 20px;
    @media (max-width: map-get($grid-breakpoints, md)) {
      flex: 1 1 100%;
      padding: 10px;
    }
  }

  &__sidebar {
    flex: 1 1 20%;
    @media (min-width: map-get($grid-breakpoints, sm)) {
      border-right: 1px solid #ccc;
    }
  }

  &__content {
    flex: 1 1 80%;
  }
}
